@model Assignment_2_Matthew_Lane.Models.FoodType

@{
    ViewBag.Title = "Browse";
}

<h2>Browsing Food Type: Appetizers</h2>

@if (Model.Name == "Bruchetta")
{
    <h2> Bearpaw Bruchetta: </h2>

    <!--This line sends ca call to MenuController -> Details and passes it the name "Bruchetta"-->
    <a href="@Url.Action("Details", "Menu", new { FoodType = @"Bruchetta" })"> <img src="@Url.Content("~/Assets/Images/Bruschetta_Thumb.jpg")" alt="Home" /></a>

    <p> A blend of tomato, onion and basil on a toasted baguette</p>

}

@if (Model.Name == "Potstickers")
{
    <h2> Sticky Poters: </h2>
    <p> Panfriend dumplings filled with pork and green onion, served with soysauce for dipping. </p>
}

@if (Model.Name == "Nachos")
{
    <h2> Nachos: </h2>
    <p> A big basket of cheese Nachos, piled high with lettuce, tomatoes, ground beef, cheese and home made salsa. Perfect for sharing! </p>
}