<!--

  Author : Matthew Lane
  File Name : Menu/Index.cshtml
  Website Name : Assignment_2_The_Bear_Den_Restaraunt
  File Description : This is the index page for the menu, it lists the three food type options, and checks their response

-->


@using Assignment_2_Matthew_Lane.Models
@model IEnumerable<FoodType>

@{
    ViewBag.Title = "Index";

}

<!--Pose question about what they want to see, provide links.-->
<h3>Browse Food Types</h3>
<p>
    Select the type of food you wish to view:
</p>
<ul>
    @foreach (FoodType item in Model)
    {
        <li>@Html.ActionLink(@item.Name, "Browse", new { FoodType = @item.Name })</li>
    }
</ul>

