<!--

  Author : Matthew Lane
  File Name : Home/Index.cs
  Website Name : Assignment_2_The_Bear_Den_Restaraunt
  File Description : This is Foods/Create class, which would allow the user to create a menu item(this is not yet implemented)

-->


@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>
    The bears den restaurant was established in 1953, and has been going strong since. We started by selling
    classics, good food at cheap prices. Anything from a milkshake to a doughnut could be found here. 

    Today, we serve healthy, locally produced foods. Everything we sell is made fresh each day, right down
    to the sauce. If it's not fresh and delicious, you bought it somewhere else! 
</p>

<img src="@Url.Content("~/Assets/Images/About.jpg")" alt="IMAGES" />