<!--

  Author : Matthew Lane
  File Name : Home/Index.cs
  Website Name : Assignment_2_The_Bear_Den_Restaraunt
  File Description : This is Foods/Create class, which would allow the user to create a menu item(this is not yet implemented)

-->


@{
    ViewBag.Title = "Index";
}

<h1>Welcome to the Bear's Den Restaraunt! </h1>

<img src="@Url.Content("~/Assets/Images/Front.jpg")" alt="IMAGES" />

<p>We belive that food shouldbe made fresh each day, with the love and passion thaty we have held strong these last 63 years! </p>
<p>From our house made sauces and deserts, to our vegtables bought fresh at the market each day, we belive that every meal</p>
<p>should be an experience worth remembering!</p>

<img src="@Url.Content("~/Assets/Images/BearsDen_01.png")" alt="IMAGES" />

<p>Since 1953, we have strived to make your dining experience memerable! </p>