@using Assignment_2_Matthew_Lane.Models
@model IEnumerable<FoodType>

@{
    ViewBag.Title = "Index";
   
}

<h3>Browse Food Types</h3>
<p>
    Select from @Model.Count()
    Types:
</p>
<ul>
    @foreach (FoodType item in Model)
    {
        <li>@Html.ActionLink(@item.Name, "Browse", new {FoodType = @item.Name })</li>
    }
</ul>

