<!--

  Author : Matthew Lane
  File Name : MattsRestarauntContext.cs
  Website Name : Assignment_2_The_Bear_Den_Restaraunt
  File Description : This is Contact/Index class, which contains the content of the contact page
      
-->

@{
    ViewBag.Title = "Index";
}

<!--Post info about the location of the restaraunt -->
<h2>Contact Information: </h2>

<p>The Bear Cave Restaraunt is located in Barrie on Young.st at Cox Mill Road</p>
<p>Phone Number: (705) 867-5309 </p>
<p>Address: 878 Yonge.st</p>
<img src="@Url.Content("~/Assets/Images/Location.jpg")" alt="IMAGES" />

