
@{
    ViewBag.Title = "Index";
}

<h2>Contact Information: </h2>

<p>The Bear Cave Restaraunt is located in Barrie on Young.st at Cox Mill Road</p>
<p>Phone Number: (705) 867-5309 </p>
<p>Address: 878 Young.st</p>
<img src="@Url.Content("~/Assets/Images/Location.jpg")" alt="IMAGES" />

