<!--

  Author : Matthew Lane
  File Name : error.cshtml
  Website Name : Assignment_2_The_Bear_Den_Restaraunt
  File Description : This is the error page, used to tell the user there was an error in their login

-->


@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

